* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.debug {
    border: 1px solid black;
}

.gradient {
    background-image: radial-gradient(circle at center, #596D48, #ccc);
    /* background-image: url(./images/space.png); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-container {
    max-height: 100vh;
    /* overflow: hidden; */
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.banner-img {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    flex: 1;
    flex-shrink: 1;
}

p {
    max-width: 66ch;
}

.info-section {
    /* min-width: 50%; */
    flex-grow: 4;
    flex-basis: 0;
}

form {
    background-color: white;
}

.input-container {
    display: flex;
    gap: 3vw;
}

label {
    display: block;
}